#img_bg {
    height: 1000px;
    width: 1903px;
    background: url("FondValorant.jpg");
    background-size: cover;
    position: absolute;
}

#img_vide {
    position: relative;
    bottom: -225px;
    visibility: hidden;
}

#img_vide1 {
    position: relative;
    bottom: -800px;
    visibility: hidden;
}

#img_vide2 {
    position: relative;
    bottom: -1650px;
    visibility: hidden;
}

#img_bg2 img {
    height: 500px;
    width: 1000px;
    position: absolute;
}

#img_bg3 img {
    height: 500px;
    width: 1000px;
    position: absolute;
    left: 903px;
    bottom: 2500px;
}

#img_bg4 img {
    height: 1250px;
    width: 1800px;
}

#img_bg5 {
    height: 1100px;
    width: 1903px;
    position: absolute;
    bottom: 1746px;
    left: 12px;
}

#img_titre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
    }

#img_titre img {
    height: 250px;
    width: 800px;
    position: relative;
    }

#carouselExampleIndicators {
    height: 475px;
    width: 800px;
    position: relative;
    bottom: -55px;
    left: 1000px;
    }

#carouselExampleIndicators2 {
    height: 475px;
    width: 800px;
    position: relative;
    bottom: -110px;
    left: 100px;
}

#carouselExampleCaptions {
    position: relative;
    left: 275px;
    bottom: 30px;
}

#section1 {
    width: 500px;
    position: relative;
    bottom: 900px;
    left: 75px;
    color: #fff;
    }

#section2 {
    width: 500px;
    position: relative;
    bottom: 658px;
    left: 1025px;
    color: #fff;
    }

@font-face {
    font-family: 'Valorant';
    src : url('ValorantFont.ttf') format('truetype');
    }

body {
    font-family: 'Valorant', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: -100px;
    width : 100%;
}

@media(min-width: 768px) and (max-width: 1388px) {
    .container {
        width :100% ;
        padding :0px ;
        margin: 0;
    }
}

@media(max-width: 767px) {
    .container {
        width :100% ;
        padding :0px ;
        margin: 0;
    }
} 

.container {
    margin: auto;
    position: relative;
    right: 304px;
}

.container img {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.nav-link {
    color: white !important;
  display: inline-block;
  background-color: #800000;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .5s ease;
}

.nav-link:active{
    transform: translate(0,5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px solid;
}

.nav-link:hover {
    color: #001F3F;
    background-color: red;
}

.boutonhome:active{
    transform: translate(0,5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px solid;
}

.boutonhome{
    color: white !important;
    background-color: red;
    border-radius: 30px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    transition: all .1s;
    -webkit-transition: all .1s;
    list-style-type: none;
    float: right;
    text-decoration: none;
    pointer-events: auto;
}

.navbar navbar-expand-lg navbar-light bg-dark {
    behavior: smooth;
}

#img_EasterEgg {
    position: relative;
    left: 180px;
}

#txt_vide {
    position: relative;
    left: 280px;
}

#btn1 {
    position: relative;
    height: 120px;
    width: 90px;
    bottom: 336px;
    left: 202px;
    background-color: transparent;
    border-color: red;
}

#btn2 {
    position: relative;
    height: 120px;
    width: 108px;
    bottom: 336px;
    left: 240px;
    background-color: transparent;
    border-color: red;
}

#btn3 {
    position: relative;
    height: 120px;
    width: 122px;
    bottom: 336px;
    left: 254px;
    background-color: transparent;
    border-color: red;
}

#btn4 {
    position: relative;
    height: 120px;
    width: 90px;
    bottom: 336px;
    left: 300px;
    background-color: transparent;
    border-color: red;
}

#btn5 {
    position: relative;
    height: 120px;
    width: 90px;
    bottom: 336px;
    left: 359px;
    background-color: transparent;
    border-color: red;
}

#btn6 {
    position: relative;
    height: 96px;
    width: 64px;
    bottom: 194px;
    right: 302px;
    background-color: transparent;
    border-color: red;
}

#btn7 {
    position: relative;
    height: 96px;
    width: 70px;
    bottom: 194px;
    right: 270px;
    background-color: transparent;
    border-color: red;
}

#btn8 {
    position: relative;
    height: 96px;
    width: 52px;
    bottom: 194px;
    right: 226px;
    background-color: transparent;
    border-color: red;
}

#btn9 {
    position: relative;
    height: 96px;
    width: 80px;
    bottom: 194px;
    right: 188px;
    background-color: transparent;
    border-color: red;
}

#btn10 {
    position: relative;
    height: 96px;
    width: 76px;
    bottom: 194px;
    right: 148px;
    background-color: transparent;
    border-color: red;
}

#btn11 {
    position: relative;
    height: 96px;
    width: 74px;
    bottom: 194px;
    right: 106px;
    background-color: transparent;
    border-color: red;
}

#btn_EasterEgg {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 3635px;
    left: 852px;
    background-color: transparent;
    border-color: transparent;
}
